* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}


.palette {
  width: 60px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.palette.top {
  position: absolute;
  top: 20px;
  left: 20px;
}

.palette.bottom {
  position: absolute;
  top: 280px;
  left: 20px;
}

.c {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #555;
}

.red { background: #e60000; }
.blue { background: #1e00ff; }
.yellow { background: #ffff33; }
.purple { background: #6a007a; }
.white { background: #fff; }


.grid {
  position: absolute;
  top: 20px;
  left: 150px;

  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 25px;
}

.cell {
  height: 120px;
  border: 2px solid #aaa;
  border-radius: 12px;
  background: #fff;
}
